NEXT_PUBLIC_SUPABASE_URL=https://wgajpzjmedgaxyfwqcme.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnYWpwemptZWRnYXh5ZndxY21lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzODQyODUsImV4cCI6MjA5MDk2MDI4NX0.LCiH_xsW-X0XZabgLJOCFv0AFjqR6PXZw4pd6F_7Gk8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnYWpwemptZWRnYXh5ZndxY21lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTM4NDI4NSwiZXhwIjoyMDkwOTYwMjg1fQ.xqCkg4LbKGvm3pqUYeyWZ2jC52pj1GhXDDFdTEisqc0

GEMINI_API_KEY=AIzaSyAk_BCm86KTxacRUiCNScHcTvxmltWjR1Q
